.center {
    text-align: center
}

.btn_gray {
    display: inline-block;
    background: gray;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
}

.btn_green {
    display: inline-block;
    background: green;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
}

.btn_red {
    display: inline-block;
    background: red;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
}

.btn_cornflowerblue {
    display: inline-block;
    background: cornflowerblue;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
}

.color_red {
    color: red;
}

.color_blue {
    color: blue;
}

.color_indigo {
    color: indigo;
    font-size: 45px;
}

table {
    border: 1px solid red;
}

table th {
    border: 1px solid blue;
    padding: 5px;
}

table td {
    border: 1px dashed green;
    padding: 5px;
}

.container {
    margin: auto;
}

.background_index {
    background-color: #f2f4f8;
}

.background_result {
    background-color: #f7eee5;
}

.background_training {
    background-color: #fdf2f0;
}

.background_interview {
    background-color: #f4f2f0;
}