.block-person{
  text-align: center;
}
.col-md-8{
  width: 100%;
  padding: 1em;
}
.avatar{
  width: 25%;
  height: 25%;
  border-radius: 50%;
}
.collapse-navbar-collapse{
  text-align: center;
}
.setting-profile {
    text-align: center;
    width: 550px;
}
.block-login{
margin-left: 600px;

}
li.left{
  float: left;
}

li.right{
  float: right;
}
.nav-item{
  margin-left: 100px;
}
.form-control{
  height: 200px;
}
//createQuestBeforeStart.jsp
.box-quest{
  width: 300px;
  height: 60px;
  margin-left: 20px;
}
.btn-primary{
  margin-left: 20px;
}

